.d0
{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-left: 340px;
    
}
.d1
{
    background-color:blue;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-left: 170px;

    
}
.d2
{
background-color:mediumspringgreen;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d3
{
background-color:violet;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d4
{
background-color:orangered;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d5
{
background-color:green;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;
}
.d6
{
background-color:yellow;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d7
{
background-color:red;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d8
{
background-color:aqua;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d9
{
background-color:mediumaquamarine;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d10
{
background-color:yellowgreen;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d11
{
background-color:white;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;} */
.d12
{
background-color:red;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 1px;}
.d13
{
background-color:red;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d14
{
background-color:mediumblue;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d15
{
background-color:magenta;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d16
{
background-color:maroon;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d17
{
background-color:skyblue;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d18
{
background-color:rosybrown;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d19
{
background-color:yellow;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
.d20
{
background-color:purple;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;}
 /* .d21
{
background-color:orangered;
width: 100px;
height: 100px;
margin: 50px;
margin-left: 170px;} */














